@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "theme";

/****************************************************************************
 * .section-header
 ****************************************************************************/

.section-header {
  background: url('../gfx/laptop.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-top: 100px !important;
  height: 100vh;

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
    transform: translateY(-10%);
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

/****************************************************************************
 * .section-feature
 ****************************************************************************/

.feature-col {
  text-align: justify;
}

.feature-icon {
  text-align: center;

  i {
    font-size: 8em;
    color: grey;
  }
}

/****************************************************************************
 * .section-social
 ****************************************************************************/

.section-social {
  background: darkslategrey;
  color: #FFF;
}

.social-icon {
  color: inherit;
  transition: transform 0.2s;
  display: inline-block;
  
  &:hover {
    text-decoration: none;
    color: inherit;
    transform: scale(1.2);
  }

  .icon {
    vertical-align: top;
    position: relative;
    top: 8px;
    font-size: 4em;
  }
}

/****************************************************************************
 * .section-pricing
 ****************************************************************************/
.section-pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);

  .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  hr {
    margin: 1.5rem 0;
  }

  .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }

  .card-price {
    font-size: 3rem;
    margin: 0;
  }

  .card-price .period {
    font-size: 0.8rem;
  }

  ul li {
    margin-bottom: 1rem;
  }

  .text-muted {
    opacity: 0.7;
  }

  .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .section-pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .section-pricing .card:hover .btn {
    opacity: 1;
  }
}


/****************************************************************************
 * .footer
 ****************************************************************************/

#footer {
  background: #007b5e !important;

  .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
  }

  a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  ul.social li{
    padding: 3px 0;
  }

  ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
  }

  ul.social li a,
  ul.quick-links li a{
    color:#ffffff;
  }

  ul.social li a:hover{
    color:#eeeeee;
  }

  ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
  }

  ul.quick-links li a i{
    margin-right: 5px;
  }

  ul.quick-links li:hover a i {
    font-weight: 700;
  }

  .footer-bottom {
    background: grey;
  }
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
